<p id="notice"><%= notice %></p>

<%= form_with(model: user, local: true) do |form| %>

  <div class="field">
    <%= form.label 'Usuário:' %>
    <%= form.text_field :user %>
  </div>

  <div class="field">
    <%= form.label 'Senha:' %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label 'Confirme a senha:' %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label 'Caminho para imagem:' %>
    <%= form.text_field :user_img %>
  </div>

  <div class="actions">
       <%= form.submit %>
  </div>
<% end %>
