<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <div class="alert-error">
        O formulário contém <%= pluralize(@user.errors.count, "erro") %>.
      </div>
      <ul>         
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Usuário:' %>
    <%= form.text_field :user %>
  </div>

  <div class="field">
    <%= form.label 'Senha:' %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label 'Imagem:' %>
    <%= form.text_field :user_img %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
